* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background: #a8dadc;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: #a8dadc;
  /* font-weight: 300; */
}
.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  margin: 50px;
  background: #e9ecef;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.5);
}

/* <!-- HEADER SECTION STARTS --> */

.container .left_side {
  position: relative;
  background: #000;
  padding: 40px;
  color: #fff;
}
.profileText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}
.profileText .imgWraper {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.profileText .imgWraper img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.profileText h2 {
  color: #fff;
  font-size: 1.5rem;
  margin-top: 20px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
  line-height: 1.4rem;
}
.profileText h2 span {
  font-size: 0.8rem;
  font-weight: 100;
}

/* <!-- HEADER SECTION ENDS --> */

/* <!-- CONTACT INFO STARTS --> */

.contactInfo {
  padding-top: 40px;
}
.title {
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.contactInfo ul {
  position: relative;
}
.contactInfo ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}
.contactInfo ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #a8dadc;
}
.contactInfo ul li .text {
  color: #a8dadc;
  font-weight: 300;
}

/* <!-- CONTACT INFO ENDS --> */

.container .right_side {
  position: relative;
  background: #e9ecef;
  padding: 40px;
}

/* RIGHT SECTION */

.about p {
  text-align: justify;
  /* margin: 0 20px; */
}

.internship {
  padding-top: 40px;
}

.internship .title2 {
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.internship p .subtitle {
  font-weight: 500;
  font-size: 18px;
  padding-right: 1rem;
}
.internship ul {
  padding: 0 20px;
}
.date {
  text-align: right;
}

/* PROJECT SECTION */
.project .title {
  margin-top: 20px;
}
.project .box {
  width: 550px;
}

.project .box .subtitle {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project .box .subtitle a {
  font-size: small;
  color: gray;
}

.box ul {
  margin: 0 20px;
}
.box ul li {
  text-align: justify;
}

/* EDUCATION SECTION */

.education .title {
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.education .collegeDetail {
  width: 550px;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.education .schoolDetail {
  width: 550px;
  padding-top: 20px;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

@media (max-width: 1000px) {
    .container{
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
}